{% extends "blog/base.html" %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4 col-md-12">
    <h1 class="h3 mb-0 text-gray-800">Category {{ category }} : {{ posts.paginator.count }} </h1>
</div>
{% for post in posts %}
<div class="col-md-4">
    <div class="card shadow mb-4" style="height:95%">
        <div class="card-header py-3">
            <h6><a class="m-0 font-weight-bold text-primary"
                href="{% url 'post-detail' post.slug %}">{{ post.title|safe|truncatechars_html:"40"|linebreaks }}</a></h6>
            <a class="badge badge-pill badge-primary"
                href="{% url 'post-user-list' post.author %}">{{ post.author }}</a>
            <a class="badge badge-pill badge-info"
                href="{% url 'post-category-list' post.category.slug %}">{{ post.category.category_desc}}</a>
            <small class="badge badge-pill badge-dark">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <div class="card-body">
            <img class="img-fluid" style="width:100%;height:150px" src="{{ post.image.url }}">
            <p style="text-align:justify">{{ post.content|safe|truncatewords:"50"|linebreaks }}</p>
            <a href="{% url 'post-detail' post.slug %}">read more</a>
        </div>
    </div>
</div>
{% endfor %}
<div class="col-md-12" style="text-align:center; positon:absolute">
    {% if posts.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ posts.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in posts.paginator.page_range %}
    {% if posts.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if posts.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ posts.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ posts.paginator.num_pages }}">Last</a>
    {% endif %}
</div>

{% endblock content%}